body {
  font-family: "Raleway", sans-serif;
  background-color: #000;
}

/* Hero Section */

#Hero-Section {
  margin: 0;
  overflow: hidden;
  height: fit-content;
  height: 100vmax;
  
  
}


video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

main{
  z-index: 0;
  background-color: #6db1bf;
}
/* Mis trabajos */

#Mis-trabajos{
  background-color: #9cafb7;
}

#Mis-trabajos .image-top {
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 900px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

  video{
    height: 100%;
    
  }

}

.color1{
  color: #f6f930;
}
.color2{
  color: #2f2f2f;
}
.color3{
  color: #9cafb7;
}
.color4{
  color: #6db1bf;
}